.abbr-list > div,
.abbr-list > button {
	@apply flex w-full;
}

.abbr-list > div {
	@apply border-b border-zinc-200;
}

.abbr-list > div:last-child {
	@apply border-b-0;
}

.abbr-list > div input,
.abbr-list > div button {
	@apply border-0 rounded-none;
}

.abbr-list > div button {
	@apply hover:text-red-600 hover:bg-red-100;
}

.abbr-list > div input {
	@apply border-e border-zinc-200   
           hover:border-zinc-200
           hover:bg-neutral-50
           focus:ring-0 focus:border-zinc-200;
}

.abbr-list-container {
	@apply flex flex-col gap-2 p-2 inset-shadow-sm rounded-lg border border-zinc-200 bg-neutral-50;
}

.abbr-list-container > .abbr-list-scrollbar {
	@apply overflow-y-auto 
    border border-zinc-200 rounded-lg overflow-hidden
    shadow-xs bg-white
    [&:not(:has(.abbr-list-item))]:hidden;
}
