.abbr-list .abbr-list-item {
	@apply flex w-full;
}

.abbr-list .abbr-list-item {
	@apply border-b border-zinc-200;
}

.abbr-list .abbr-list-item:last-child {
	@apply border-b-0;
}

.abbr-list .abbr-list-item input,
.abbr-list .abbr-list-item button {
	@apply border-0 rounded-none;
}

.abbr-list .abbr-list-item button {
	@apply hover:text-red-600 hover:bg-red-100;
}

.abbr-list .abbr-list-item input {
	@apply border-e border-zinc-200   
           hover:border-zinc-200
           hover:bg-neutral-50
           focus:ring-0 focus:border-zinc-200;
}

.abbr-list {
	@apply overflow-y-auto;
}

.abbr-list-container {
	@apply flex flex-col gap-2 p-2 inset-shadow-xs rounded-lg border border-zinc-200 bg-neutral-50;
}

.abbr-list-container .abbr-list-scrollbar {
	@apply border border-zinc-200 rounded-lg overflow-hidden
    shadow-xs bg-white
    [&:not(:has(.abbr-list-item))]:hidden;
}
