@utility form-input {
	@apply w-full rounded-lg border border-zinc-200 bg-white px-3 py-2 text-sm text-zinc-900 
           placeholder:text-zinc-400
           hover:border-zinc-300
           focus:border-zinc-400 focus:ring-4 focus:ring-zinc-900/5 focus:outline-none
           disabled:cursor-not-allowed disabled:bg-zinc-50 disabled:text-zinc-400 disabled:border-zinc-200
           transition-all duration-150 ease-in-out;
}

.form-list {
	@apply form-input h-56 flex flex-row flex-wrap justify-start gap-2 p-2;
}

.form-list li {
	@apply border w-18 h-22 rounded p-1 border-zinc-200 hover:bg-neutral-100 cursor-pointer flex justify-center items-center;
}
