@import "tailwindcss";
@import "calc-height.css";
@import "form.css";
@import "tab.css";
@import "modal.css";
@import "toast.css";
@import "button.css";
@import "icon.css";
@import "new.css";
@import "abbr.css";
@import "asset.css";
@import "divider.css";
@import "rainbow.css";
@import "faq.css";

@custom-variant dark (&:where(.dark, .dark *));

body,
dialog {
	-webkit-user-select: none; /* Safari / WebKit */
	-ms-user-select: none; /* IE 10+ / Edge Legacy */
	user-select: none; /* Standard (Chrome, Firefox, Opera, Edge) */
}

.main {
	@apply bg-neutral-100 dark:bg-zinc-900 
	flex flex-col justify-between h-svh transition-colors;
}

.header {
	@apply grow-0 flex flex-col sm:flex-row gap-4 justify-between items-center px-3 pt-3;
}

.version {
	@apply font-mono text-[10px] px-2 py-1 border rounded-xl 
	shadow-xs dark:shadow-zinc-100/10
	bg-zinc-50 text-zinc-800 border-zinc-200
	dark:bg-zinc-900 dark:text-zinc-200 dark:border-zinc-800
	hover:bg-blue-50 hover:text-blue-800 hover:border-blue-200
	dark:hover:bg-blue-950 dark:hover:text-blue-300 dark:hover:border-blue-800;
}

.form-main,
.form-edit {
	@apply grow m-3 rounded-lg overflow-hidden 
	bg-repeat bg-center
	border border-neutral-300 dark:border-zinc-800 
	bg-gray-200 dark:bg-zinc-950 
	inset-shadow-xs dark:inset-shadow-zinc-100/10;
}

.form-edit {
	@apply p-1;
}

.form-main-frame {
	@apply min-w-full border-none;
}
