body {
	background-color: transparent;
	padding: 0;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

.page {
	box-shadow: none;
	margin: 0;
	background-color: #ffffff;
	box-sizing: border-box;
	break-after: page;
	page-break-after: always;
}
